nav
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a3aec6d6;
}
ul li {
  float: right;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
}
footer {text-align: center;
padding: 14px 16px;
}
h1 {text-align: center;
padding: 20px;}
flex-container {
  display: flex;
  flex-direction: row;
}