nav
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a3aec6d6;
}
ul li {
  float: right;
}
ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #111111;
}
footer {text-align: center;
padding: 14px 16px;
}
h1 {text-align: center;
padding: 20px;}
flex-container {
  display: flex;
  flex-direction: row;
}
#flex-container {
  display: flex;
  flex-direction: row;
  background-color: DodgerBlue;
}
h3 {text-align: center;
padding: 20px;}
.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
